*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}



.container {
  margin: 2%;
  width: 98%;

}

div {
  background-color: #dadada;
  float: left;
  margin: 1%;
  width: 100%;
  padding-top: 5px;
}
div.baku {
  background-image: url('../images/baku.jpg');
  height: 400px;
}


/* code added to create two-column design */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

h1, h3 {
  font-size: 2.5em;
  margin: 0;
}

h3 {
  font-size: 1.8em;
  font-weight: 300;
}


/* larger */
@media screen and (min-width: 991px){
